{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">

    <h1 class="form-titulo">Confirmar Eliminación: {{ titulo }}</h1>

    <p class="form-texto">
        ¿Estás seguro de que deseas eliminar <strong>{{ nombre }}</strong>?
        <br>Esta acción es reversible (soft delete).
    </p>

    <form method="post" action="{{ url }}">

        <button type="submit" class="btn-form danger">Eliminar</button>

        <a href="{{ volver }}" class="btn-form">Cancelar</a>
    </form>
</div>


{% endblock %}