{% extends "layout/base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">

    <h1 class="form-titulo">Crear Objeto</h1>

    <form method="post" enctype="multipart/form-data">

        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Descripción</label>
        <textarea name="descripcion" required></textarea>

        <label>Precio</label>
        <input type="number" name="precio" required>

        <label>Tipo</label>
        <select name="tipo" required>
            <option value="herramienta">Herramienta</option>
            <option value="material">Material</option>
            <option value="mejora">Mejora</option>
        </select>

        <label>Imagen</label>
        <input type="file" name="imagen"
       accept="image/*"
       required
       oninvalid="this.setCustomValidity('Debes subir una imagen')"
       oninput="this.setCustomValidity('')">

        <button class="btn-form" type="submit">Crear</button>

    </form>

</div>

{% endblock %}