{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">

    <h1 class="form-titulo">Crear Misión</h1>

    <form method="post" action="/misiones/crear">

        <input type="hidden" name="npc_id" value="{{ npc_id }}">

        <label>Título</label>
        <input type="text" name="titulo" required>

        <label>Descripción</label>
        <textarea name="descripcion" required></textarea>

        <label>Recompensa</label>
        <input type="text" name="recompensa" required>

        <label>Tipo</label>
        <select name="tipo">
            <option value="principal">Principal</option>
            <option value="secundaria">Secundaria</option>
        </select>

        <button class="btn-form" type="submit">Crear</button>

    </form>

</div>

{% endblock %}