{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">

    <h1 class="form-titulo">Editar Misión: {{ mision.titulo }}</h1>

    <form action="/misiones/{{ mision.id }}/editar" method="post">

        <label>Título</label>
        <input type="text" name="titulo" value="{{ mision.titulo }}" required>

        <label>Descripción</label>
        <textarea name="descripcion" required>{{ mision.descripcion }}</textarea>

        <label>Recompensa</label>
        <input type="text" name="recompensa" value="{{ mision.recompensa }}" required>

        <label>Tipo</label>
        <select name="tipo" required>
            {% for t in ["principal", "secundaria"] %}
            <option value="{{ t }}" {% if mision.tipo.value == t %}selected{% endif %}>{{ t|capitalize }}</option>
            {% endfor %}
        </select>

        <label>NPC Encargado</label>
        <select name="id_npc" required>
            {% for n in npcs %}
            <option value="{{ n.id }}" {% if mision.id_npc == n.id %}selected{% endif %}>
                {{ n.nombre }}
            </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn-form">Guardar cambios</button>
    </form>

</div>

{% endblock %}