{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">
    <h1 class="form-titulo">Crear NPC</h1>

    <form method="post" action="/npcs/" enctype="multipart/form-data">

        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Descripción</label>
        <textarea name="descripcion" required></textarea>

        <label>Tipo</label>
        <select name="tipo" required>
            <option value="">Seleccione…</option>
            <option value="historia">Historia</option>
            <option value="vendedor">Vendedor</option>
            <option value="misiones">Misiones</option>
        </select>

        <label>Ubicación</label>
        <select name="id_ubicacion" required>
            <option value="">Seleccione...</option>
            {% for u in ubicaciones %}
                <option value="{{ u.id }}">{{ u.nombre }}</option>
            {% endfor %}
        </select>

        <label>Imagen</label>
        <input type="file" name="imagen" accept="image/*">

        <button class="btn-form" type="submit">Crear</button>
    </form>
</div>

{% endblock %}