{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/formularios.css">
{% endblock %}

{% block content %}

<div class="formulario-box">

    <h1 class="form-titulo">Crear Ubicación</h1>

    <form action="/ubicaciones/" method="post" enctype="multipart/form-data">

        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <label>Descripción:</label>
        <textarea name="descripcion" required></textarea>

        <label>Imagen:</label>
        <input type="file" name="imagen" accept="image/*">

        <button type="submit" class="btn-form">Crear</button>
    </form>
</div>

{% endblock %}