{% extends "layout/base.html" %}

{% block content %}

<h1 class="form-titulo">Eliminar Ubicación</h1>

<div class="formulario-box">
    <p>¿Seguro que deseas eliminar <strong>{{ ubicacion.nombre }}</strong>?</p>

    <p style="color: #d4aa70;">Este proceso es un <b>soft delete</b>, podrás recuperarlo en la base de datos.</p>

    <form method="post">
        <button class="btn-form danger" type="submit">Sí, eliminar</button>
        <button class="btn-form" type="button" onclick="history.back()">Cancelar</button>
    </form>
</div>

{% endblock %}
