/* ===== CONTENEDOR GENERAL - Sin cambios, mantiene el ancho y centrado general ===== */
.home-contenido {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
}

/* --- NUEVOS Y MODIFICADOS --- */

/* Contenedor que agrupa el título y el carrusel para el nuevo layout */
.carrusel-section {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TÍTULO  */
.carrusel-titulo {
    background-color: #5E0D12;
    border: 2px solid #340508;
    color: white;
    padding: 15px 35px;
    font-family: "Cinzel", serif;
    font-size: 20px;
    border-radius: 6px;
    display: block;
    margin-right: 30px;
    width: 150px;
    text-align: center;
}
/* ===== CARRUSEL CONTENEDOR - MODIFICADO ===== */
.carrusel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

/* ===== BOTONES LATERALES  ===== */
.btn-carrusel {
    background-color: transparent;
    border: 2px solid #5E0D12;
    color: #5E0D12;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    z-index: 10;
}

.btn-carrusel:hover {
    background-color: #5E0D12;
    color: white;
}

.btn-left {
    margin-right: -10px;
}

.btn-right {
    margin-left: -10px;
}

.carrusel-items {
    display: flex;
    gap: 0;
    padding: 15px 0;
    width: 900px;
    overflow: hidden;
    scroll-behavior: smooth;
    justify-content: center;
}

/* ===== CARD  ===== */
.card {
    min-width: 300px;
    height: 260px;
    background-color: #7e0707;
    border: 3px solid #340508;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 0 -20px;
    font-family: "Cinzel", serif;
}

.card:hover {
    transform: none;
}


/* Imagen dentro de la card  */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

/* Nombre - Color de texto */
.card p {
    margin-top: 8px;
    font-family: "Cinzel", serif;
    color: #340508;
    font-size: 16px;
}