
.footer-container {
    width: 100%;
    padding: 20px 0;
    background-color: #4C6658;
}

.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.footer-line {
    flex: 1;
    max-height: 150px;
    object-fit: contain;
}

/* Imagen central MÁS GRANDE */
.footer-center {
    flex: 0 0 auto;
    height: 110px;
    object-fit: contain;
}
