

/************************************************
 * NAVBAR
 ************************************************/
.navbar {
    background-color: #4C6658;
    padding: 5px 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-inner {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/************************************************
 * IZQUIERDA (LOGO + TÍTULO)
 ************************************************/
.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    height: 45px;
    width: auto;
}

.titulo {
    color: white;
    font-size: 20px;
    margin: 0;
    font-family: "Cinzel", Georgia, serif;
    letter-spacing: 1px;
}


/************************************************
 * BUSCADOR
 ************************************************/
.search-form {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding: 6px 10px;
    border-radius: 20px;
    gap: 8px;
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 180px;
    font-size: 14px;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #d4aa70;
    font-size: 18px;
}


/************************************************
 * HAMBURGER BUTTON
 ************************************************/
.hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger span {
    width: 20px;
    height: 3px;
    background-color: white;
    display: block;
    border-radius: 3px;
}


/************** MENÚ INFERIOR CON RAMAS ***************/
.menu-inferior {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

    background-image: url("https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/adorno_top%20(1)%20(1).png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;

    padding-top: 130px;
    padding-bottom: 20px;

    margin: 0;
}
.menu-inferior a {
    color: white;
    background: #5E0D12;
    padding: 6px 12px;
    border: 2px solid #340508;
    font-family: "Cinzel", serif;
    font-size: 14px;
    text-decoration: none;
}

