<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Wiki Silksong{% endblock %}</title>

    <link rel="icon" type="image/png" href="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/logo.png">

    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    {% block extra_css %}{% endblock %}

    <style>
        body {
            background-color: #2f3a30;
            min-height: 100vh;
            margin: 0;
            /* Aquí iría el fondo de textura si lo implementas */
        }
    </style>

</head>
<body>

    {% include "layout/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "layout/footer.html" %}

    {% block scripts %}{% endblock %}

</body>
</html>