<footer class="footer-container">
    <div class="footer-bar">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/footer%20linea.png" class="footer-line">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/footer%20medio.png" class="footer-center">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/footer%20linea.png" class="footer-line">
    </div>
</footer>
