<header class="navbar">
  <div class="nav-inner">

    <div class="nav-left">
      <a href="/" class="brand">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/logo.png"
        class="logo">
      </a>
      <h1 class="titulo">WIKI SILKSONG - NPCS</h1>
    </div>

    <div class="nav-middle">
      <form action="/global/buscar" method="get" class="search-form">
        <button type="submit" class="search-btn">🔍</button>
        <input name="termino" type="search" placeholder="Buscar..." class="search-input">
      </form>
    </div>

    <div class="nav-right">
      <button class="hamburger">
        <span></span><span></span><span></span>
      </button>
    </div>

  </div>
</header>

<nav class="menu-inferior">
    <a href="/ubicaciones">UBICACIÓN</a>
    <a href="/npcs/">HISTORIA</a>
    <a href="/misiones">MISIONES</a>
    <a href="/vendedores">VENDEDORES</a>
</nav>

