<header class="navbar">
  <div class="nav-inner">

    <div class="nav-left">
      <a href="/" class="brand">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/logo.png"
        class="logo">
      </a>
      <h1 class="titulo">WIKI SILKSONG - NPCS</h1>
    </div>

    <div class="nav-middle">
      <form action="/global/buscar" method="get" class="search-form">
        <button type="submit" class="search-btn">🔍</button>
        <input name="termino" type="search" placeholder="Buscar..." class="search-input">
      </form>
    </div>


      <!-- Botón hamburguesa -->
<div class="nav-right">
  <button class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

</div>
</header>

<!-- MENÚ DESPLEGABLE -->
<div id="burger-menu" class="burger-menu">
    <a href="/npcs/crear">Crear NPC</a>
    <a href="/ubicaciones/crear">Crear Ubicación</a>
    <a href="/historial">Historial</a>
</div>


</header>

<nav class="menu-inferior">
    <a href="/ubicaciones">UBICACIÓN</a>
    <a href="/npcs/tipo/historia">HISTORIA</a>
    <a href="/npcs/tipo/misiones">MISIONES</a>
    <a href="/npcs/tipo/vendedor">VENDEDORES</a>
</nav>

<script>
function toggleMenu() {
    const menu = document.getElementById("burger-menu");
    menu.style.right = (menu.style.right === "0px") ? "-250px" : "0px";
}
</script>
