
<!-- header.html -->
<header class="navbar">
  <div class="nav-inner">

    <div class="nav-left">
      <a href="/" class="brand">
        <img src="https://azbsgiuhvkwmpeiwrwdd.supabase.co/storage/v1/object/public/npc_imagenes/public/logo.png"
     alt="Logo Silksong" class="logo">
      </a>
      <h1 class="titulo">WIKI SILKSONG - NPCS</h1>
    </div>

    <div class="nav-middle">
      <form action="/global/buscar" method="get" class="search-form" role="search" aria-label="Buscar">
        <button type="submit" class="search-btn" aria-label="Buscar">
          🔍
        </button>
        <input name="termino" type="search" placeholder="Buscar..." class="search-input" />
      </form>
    </div>

    <div class="nav-right">
      <button class="hamburger" aria-label="Abrir menú">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

  </div>
    <div class="menu-inferior">
    <a href="/ubicaciones">UBICACIÓN</a>
    <a href="/historia">HISTORIA</a>
    <a href="/misiones">MISIONES</a>
    <a href="/vendedores">VENDEDORES</a>
</div>

</header>


