{% extends "layout/base.html" %}

{% block title %}{{ titulo }} | Wiki Silksong{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/listas.css">
{% endblock %}

{% block content %}

    <main class="lista-contenedor">

        <h1 class="lista-titulo">{{ titulo }}</h1>

        <div class="lista-grid">
            {% for npc in npcs %}
            <div class="lista-card" onclick="window.location.href='/npcs/{{ npc.id }}'">
                <img src="{{ npc.imagen_url }}" alt="{{ npc.nombre }}">
                <p>{{ npc.nombre }}</p>
            </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}