{% extends "layout/base.html" %}

{% block title %}Ubicaciones | Wiki Silksong{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/listas.css">
{% endblock %}

{% block content %}

    <main class="lista-contenedor">

        <h1 class="lista-titulo">Ubicaciones</h1>

        <div class="lista-grid">
            {% for u in ubicaciones %}
            <div class="lista-card" onclick="window.location.href='/ubicaciones/{{ u.id }}'">
                <img src="{{ u.imagen_url }}" alt="{{ u.nombre }}">
                <p>{{ u.nombre }}</p>
            </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}