{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/detalle.css">
{% endblock %}

{% block content %}

<div class="detalle-container">

    <div class="detalle-info">
        <h1 class="detalle-titulo">{{ item.nombre }}</h1>

        <p class="subtitulo">{{ item.tipo.value.upper() }}</p>

        <h2 class="subtitulo">Descripción</h2>
        <p class="detalle-descripcion">
            {{ item.descripcion }}
        </p>

        <div class="detalle-atributos">
            <h2 class="subtitulo">Atributos</h2>

            <p class="detalle-descripcion">
                <span class="etiqueta">Precio:</span>
                <span class="valor">{{ item.precio }} Monedas</span>
            </p>

            <p class="detalle-descripcion">
                <span class="etiqueta">Requiere Metal Artesano:</span>
                <span class="valor {% if item.usa_metal_artesano %}activo{% else %}inactivo{% endif %}">
                    {{ "Sí" if item.usa_metal_artesano else "No" }}
                </span>
            </p>
        </div>

        <div class="acciones-npc">
            <button class="btn-accion" onclick="window.location.href='/items/{{ item.id }}/editar'">
                ⚙ Editar Item
            </button>
            <button class="btn-accion btn-danger" onclick="window.location.href='/items/{{ item.id }}/eliminar'">
                🗑 Eliminar Item
            </button>
        </div>
    </div>

    <div class="detalle-imagen">
        <img src="{{ item.imagen_url if item.imagen_url else 'https://placehold.co/400x300/340508/FFFFFF?text=Sin+Imagen' }}"
             alt="Imagen de {{ item.nombre }}"
             onerror="this.onerror=null; this.src='https://placehold.co/400x300/340508/FFFFFF?text=Error+al+cargar+imagen';"
        >
    </div>
</div>

{% endblock %}