{% extends "layout/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/detalle.css">
{% endblock %}

{% block content %}

<div class="detalle-container">

    <div class="detalle-info">
        <h1 class="detalle-titulo">{{ mision.titulo }}</h1>

        <p class="subtitulo mision-tipo">{{ mision.tipo.value.upper() }}</p>

        <h2 class="subtitulo">Descripción de la Tarea</h2>
        <p class="detalle-descripcion">
            {{ mision.descripcion }}
        </p>

        <h2 class="subtitulo recompensa-titulo">Recompensa</h2>
        <p class="detalle-descripcion">{{ mision.recompensa }}</p>

        {% if mision.npc %}
            <h2 class="subtitulo">Ofrecida por</h2>
            <p class="detalle-descripcion">
                <a href="/npcs/{{ mision.npc.id }}" class="valor npc-link">{{ mision.npc.nombre }}</a>
            </p>
        {% endif %}

        <div class="acciones-npc">
            <button class="btn-accion" onclick="window.location.href='/misiones/{{ mision.id }}/editar'">
                ⚙ Editar Misión
            </button>
            <button class="btn-accion btn-danger" onclick="window.location.href='/misiones/{{ mision.id }}/eliminar'">
                🗑 Eliminar Misión
            </button>
        </div>
    </div>
</div>

{% endblock %}