<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wiki Silksong</title>

<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/carrusel.css">
    <style>
        body {
            background-color: rgba(33, 70, 25, 0.61);
            min-height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>

  {% include "layout/header.html" %}




    <main class="home-contenido">

    {% include "componentes/carrusel.html" with context %}

    <!-- CARRUSEL UBICACIONES -->
    {% set titulo="Ubicación" %}
    {% set tipo="ubicaciones" %}
    {% include "componentes/carrusel.html" %}

    <!-- CARRUSEL HISTORIA -->
    {% set titulo="Historia" %}
    {% set tipo="historia" %}
    {% include "componentes/carrusel.html" %}

    <!-- CARRUSEL MISIONES -->
    {% set titulo="Misiones" %}
    {% set tipo="misiones" %}
    {% include "componentes/carrusel.html" %}

    <!-- CARRUSEL VENDEDORES -->
    {% set titulo="Vendedores" %}
    {% set tipo="vendedores" %}
    {% include "componentes/carrusel.html" %}

</main>

    {% include "layout/footer.html" %}

</body>
<script>
function moverCarrusel(tipo, direccion) {
    const carrusel = document.getElementById("carrusel-" + tipo);
    const ancho = carrusel.clientWidth;
    carrusel.scrollLeft += direccion * (ancho / 2);
}
</script>

</html>
