<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wiki Silksong</title>

<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/carrusel.css">

    <style>
        body {
            background-color: #2f3a30;
            min-height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>

  {% include "layout/header.html" %}




<main class="home-contenido">


{% for tipo, lista in {
    "UBICACIONES": ubicaciones,
    "HISTORIA": historia,
    "MISIONES": misiones,
    "VENDEDORES": vendedor
}.items() %}

    {% set titulo = tipo %}
    {% set id_carrusel = tipo|lower %}
    {% include "componentes/carrusel.html" %}

{% endfor %}

</main>


    {% include "layout/footer.html" %}

</body>
<script>
function moverCarrusel(tipo, direccion) {
    const c = document.getElementById("carrusel-" + tipo);
    const ancho = c.clientWidth;
    c.scrollLeft += direccion * (ancho / 2);
}
</script>
<script>
function irA(tipo, id) {
    const rutas = {
        "ubicaciones": "/ubicaciones/",
        "historia": "/npcs/",
        "misiones": "/npcs/",
        "vendedores": "/npcs/"
    };

    const base = rutas[tipo];
    if (base) {
        window.location.href = base + id;
    }
}
</script>

</html>
