<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wiki Silksong</title>

<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/carrusel.css">

    <style>
        body {
            background-color: rgba(33, 70, 25, 0.61);
            min-height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>

  {% include "layout/header.html" %}




<main class="home-contenido">


    {% include "componentes/carrusel.html"
        with titulo="UBICACIONES" lista=ubicaciones id_carrusel="ubicaciones" %}

    {% include "componentes/carrusel.html"
        with titulo="HISTORIA" lista=historia id_carrusel="historia" %}

    {% include "componentes/carrusel.html"
        with titulo="MISIONES" lista=misiones id_carrusel="misiones" %}

    {% include "componentes/carrusel.html"
        with titulo="VENDEDORES" lista=vendedores id_carrusel="vendedores" %}
</main>


    {% include "layout/footer.html" %}

</body>
<script>
function moverCarrusel(tipo, direccion) {
    const c = document.getElementById("carrusel-" + tipo);
    const ancho = c.clientWidth;
    c.scrollLeft += direccion * (ancho / 2);
}
</script>

</html>
